.footer {
    padding: 64px 30px;
    justify-content: center;
    margin: auto;
    background: #F9F9F9;
    display: flex;
}

.footer .footerInner .fImg {
    width: 65px;
    height: 65px;
    margin-bottom: 8px;
}

.containerFooter {
    width: 1150px;
}

.footer .footerInner {
    display: flex;
    flex-direction: column;
}

.footer .footerMain {
    display: flex;

    justify-content: space-between;
}

.footer .footerInner p {
    color: var(--secondary, #0c101a);
    font-family: "Regular", sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 24px;
}

.footer .footerInner h5 {
    color: var(--secondary, #0c101a);
    font-family: "Regular", sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.footer .footerInner a {
    text-decoration: none;
    color: #373f41;
    font-family: "Black", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.footer .footerInner h1 {
    margin-bottom: 30px;
    color: var(--secondary, #0c101a);
    font-family: "Bold", sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.footer .footerBottom {
    border-top: 1px solid #e6e6e7;
    padding-top: 30px;
    margin-top: 48px;
}