.main {
    align-items: center;
    justify-content: center;
    width: 1150px;
    margin: auto;
    
}

.t1 {
    margin-top: 80px;
    text-align: center;
    color: #0c101a;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.t2 {
    margin-top: 80px;
    text-align: center;
    color:  #3a4e50;
    font-size: 14px;
    font-weight: 400;
}